*{
  margin:0;
  box-sizing: border-box;
  /*text-align: center;*/
}

.header{
  background-color: lightgrey;
  height: 5vh;
}

.mediaBar{
  float: left;
  clear: both;
}
.hleft{
  float: left;
}
.aboutMe{
  width: 75%;
  font-size: 1.5em;
  float: left;
}
.hright{
  text-align: right;
  float: right;
}
.iconsizer{
  margin: 0 .5em 0 .5em;
  width:5%;
}
.mediaBar{}
#profpic{
  float: right;
  width: 20%;
  border-radius: 15px 50px;
}

#mountain{
  width: 100vw;
  /*margin-bottom: -6em;*/
}

.content{
  float: left;
}

.portImage{
  width: 100px;

}

.p1{
  float: left;
  width: 33%;
}

.p2{
  float: left;
  width: 33%;
}

.p3{
  float: left;
  width: 33%;
}
.portfolio{
  text-align: center;
  float: left;
  padding-top: 5%;
  background-color: lightgrey;
}
