*{
  margin: 0 0 0 0;
  padding: 0 0 0 0;

}
#fullpage {
  transition: background 1s ease;
}
.clearfix{
  clear: both;
}
.body{
  font-family: 'Diplomata SC', cursive;

}
.topBar{
  float: left;
  left: 0;
  top: 0;
  height: 50px;
  position: fixed;
  z-index: 100;
}
.topBar span{
  /*border-right: 2px solid black;*/
  border-bottom: 2px solid black;
  font-family: 'Fascinate Inline', cursive;
  font-size: 2em;
  float: left;
}
.topBar ul{
  margin-left: 3vh;
}
.topBar li{
  margin-top: .5em;
  margin-left: 1em;
  float: left;
  width: 3vw;
  list-style-type: none;
}
.tbIcon{
  float: left;
  width: 2em;
}
.firstPage{
  height: 100vh;
  text-align: center;
  background-color: #D1DCBC;
}
  .firstPage h1{
    padding-top: 10vw;

    letter-spacing: 1px;

    font-family: 'Fascinate Inline', cursive;
    font-size: 3em;

  }
  .firstPage h2{
    margin-bottom: 1vw;

    letter-spacing: 1px;
  }
  .firstPage h3{
    margin-bottom: 26vw;
  }
  .firstPage span{
    padding: 0 1vw;

    letter-spacing: 2px;

    border-right: 2px solid black;

    font-size: .75em;
  }
  .firstPage a{
    text-decoration: none;

    color: black
  }

  #email{
    border-right: none;
  }

  #p2{
    margin-left: 3vw;
    margin-top: 6vw;
  }
#p1{
  margin-left: 3vw;
}

  .waves{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }

.secondPage{
    height: 100vh;

  background-color: #90AA9D;
}

.projectPage h1{
  text-align: center;
  font-family: 'Fascinate Inline', cursive;
  margin-bottom: 2vw;

}

.pDescription{
  position: absolute;
  top: 15vw;
  margin-left: 3vw;
  width: 30vw;

}

.pLeftBlock{
  /*border: 2px solid red;*/
  float: left;
  width: 40vw;
  margin-left: 10vw;
  height: 32vw;
}
.pLeftBlock img{
  width: 40vw;
  height: 32vw;
}
.pRightBlock{
  /*border: 2px solid red;*/
  float: left;
  width: 20%;
  height: 32vw;
}
.pRightBlock img{
  width: 40vw;
}
.pDescription{
  float: left;

}
.pVideo{
  clear: both;
  float: left;
}
  .projects{
    /*margin-left: 10vw;*/

  }
  .projects h1{
    margin-right: 10vw;

    text-align: center;

    font-family: 'Fascinate Inline', cursive;
  }
  .project{
    float: left;
    /*background-color: #3D6070;*/

    /*width: 15vw;*/
    width: 30vw;
    /*height: 15vw;*/
    /*margin: 2vw 5vw;*/
    /*//background-image: url('./media/silentMovie.jpg');*/

    background-size:contain;
  }

  #p4{
    clear: both;

  }
  #transition1{
    margin-top: 11vh;
    margin-bottom: none;
    padding-bottom: none;
    /*height: 300px;*/

  }
.thirdPage{
  /*margin-top: 20vw;*/
  height: 50vw;

  background: linear-gradient(#90AA9D,#3D6070);
  background-color: #3D6070;
  letter-spacing: 1px;
  }
  #dbub1{
    position: fixed;
    width: 7vw;
    left: 5vw;
  }
  #dbub2{
    right: 5vw;
    position: fixed;
    width: 7vw;
  }
  #dbub3{
    position: fixed;
    width: 7vw;
  }
  #dbub4{
    position: fixed;
    width: 7vw;
  }
  #icons5{
    float: left;
  }
  .learned{
    float: left;
    clear: both;

    margin-left: 16vw;

    text-align: center;

    color: black;

      font-family: 'Fascinate Inline', cursive;
  }
  .learning{
    float: left;

    margin-left: 4vw;

    text-align: center;

    color: black;

      font-family: 'Fascinate Inline', cursive;
  }
  .tIcon{
    float: left;

    width: 8vw;
    height: 8vw;
    margin: 1vw;

    /*background-color: #90AA9D;*/
  }


.fourthPage{
  height: 75vw;

  background: linear-gradient(#3D6070,#183442);
  /*background-color: #183442;*/

}

.about{
  float: left;

  width: 35%;
  margin-left: 15%;

  color: #D1DCBC;

  font-family: 'Dosis', cursive;
}
.contact{
  float: left;

  width: 35%;
  margin-left: 15%;

  color: #D1DCBC;

  font-family: 'Dosis', cursive;
}
.contactIcon{
  float:left;

  width: 60px;
  margin-right: 1vw;
}

#sand{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}


@media only screen and (max-width: 768px){
  .waves{
    width: 250vw;
  }

  .pRightBlock{
    clear: left;
  }
  .learning{

    margin: auto;
    margin-top: 50vw;
    width: 100%;
    float: none;
  }
  .learned{
    display: block;
    margin: auto;
    width: 100%;
    float: none;
  }
  .bubbles{
    width: 80%;
    /*margin-left: 15vw;*/
    display: block;
    margin: auto;

  }
  .project{
    clear: left;
    width: 57vw;
    /*border: 2px solid red;*/

  }
  .projects h1{
    text-align: center;
  }
  #p1{
    margin-left: 16vw;
  }
  #p2{
    margin-left: 25vw;
  }
  #p3{
    margin-left: 27vw;
  }
  .tIcon{
    width: 15vw;
    height: 15vw;
    clear: none;
  }
  .aboutMe{
    width: 100%;
    font-size: 1em;
  }
  .about{
    width:auto;
  }
  .contact{
    margin-top: 10vw;
    clear: left;
    width: 100%;
  }
  .contactIcon{
    width: 40px;;
  }
  .projectPage{
    margin-top: 5vw;
  }
  .pLeftBlock{
    display: block;
    margin: auto;
    width: 80vw;
    height: 45vw;

  }
  .pLeftBlock img{

    margin-left: 10vw;
    width: 80vw;
    height: 45vw;

  }
  .pRightBlock{
    clear: left;
    width: 100%
  }
  .pRightBlock img{
    width: 100vw;
    height: 55vw;

  }
  #sand{
    /*height: 30vw;*/
    width: 250vw;
  }
}
